$text-color : #000000;
$primary-bg-color: rgb(255, 255, 255);
$secondary-bg-color: rgb(145, 145, 145);
$font-size-large: large;
$font-size-xlarge: x-large;
$font-size-xxlarge: xxx-large;


body {
    margin: 0;
    background-color: $secondary-bg-color;
    color: $text-color;
}

h1{
    margin: 0;
}

.container {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin : 80px ;
}

.second_bg {
    display: flex;
    position: relative;
    background-color: $primary-bg-color;
    min-height: 920px; 
    width: 74vw; 
}

.relative{

    position: absolute;
    min-width: 100%;

    .nav {

        display: flex;
        justify-content:space-between ;
        background-color: $primary-bg-color;
        padding: 45px 0 10px 0 ;
        font-size: font-size-large;
        font-weight: 700;

        .shape{
            display: flex;
            margin: 0 0 0 40px ;
            .shapeflex{
                display: flex;
                    .black_circle ,.gray_circle{
                        padding: 6px;
                        width: 4px;
                        height: 4px;
                        border-radius: 100%;
                        display: inline-block;
                        margin: 2px;
                    }
                    .black_circle{
                        background: #000000;
                    }
                    .gray_circle{
                        background: #858484;
                    }
            }
            
            h2{
                margin : 8px 0px  0px 4px ;
            }
        } 

        ul{
            display :flex ;
            list-style-type: none;
            li{
                padding: 0px 14px ;
            }
        }

        .btn{
            display :flex ;
            align-items: center;
            
            .btn_simple ,.btn_border{
                background: $primary-bg-color;
                font-size: large;
                font-weight: 500;
                padding: 8px 10px 8px 10px ;
            }
            .btn_simple{
                border: none;
                margin: 8px 10px 8px 10px ;
            }
            .btn_border{
                border-radius: 8px;
                margin: 8px 50px 8px 10px ;

            }
        }

    }

    .title  {
        margin: 15px auto 30px;
        max-width: 35vw;
        font-weight: 400 ;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
        text-align: center;
        font-size: $font-size-xxlarge;
        line-height: 1.1;

        h1{
            margin-bottom: 30px;
        }
        p{
            margin: 0 auto;
            max-width: 24vw;
            font-size:  $font-size-xlarge;
            font-weight: 500 ;
            line-height: 1.7;
        }

    }

    .items{

        position: absolute;
        display: flex ;
        flex-direction: row;
        align-items: end;
        justify-content:space-around ;
        width:90%;
        bottom: -390px;
        left: 10px;
        right: 0;
        padding: 0 60px  ;

        .img{
            border-radius: 40px ;
        }
        .centeritems{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 6px;
            
            .topitem{
                background-color: #F3F3F3;
                width: 170px;
                height: 110px;
                margin-bottom:122px ;
                border-radius: 15px;
                .try{
                    p{
                        background-color: #000000;
                        border-radius: 15px;
                        width: 90%;
                        height: 55%;
                        margin: 8px auto;
                        color: #cfcfcf;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
                p{
                    margin: 4px 2px;
                    display: flex;
                    align-items: start;
                    justify-content: center;
                }
            }
            .downitem{
                background: #CFDDDB;
                display: flex;
                width: 220px;
                height: 140px;
                justify-content: center;
                align-items: center;
                border-radius: 25px;
    
                p{
                    width: 150px;
                    font-size: larger;
                    font-weight: 700;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }
                
                .scroll{
                    display: flex;
                    flex-direction: column;

                    .circle{
                        background: #000000f3;
                        width: 1px;
                        height:1px;
                        padding: 2PX;
                        border-radius: 100%;
                    }
                    .line{
                        background: #000000f3;
                        width: 1px;
                        height:9px;
                        padding: 2PX;
                        margin: 8PX 0 8px 0;
                        border-radius: 25%;
                    }
                }
            }
        }

        .seconditem{

            background: #C8A1D6;
            display: flex;
            flex-direction: column;
            padding: 10px;
            height: 215px;
            width: 200px;
            border-radius: 25px;
            margin-bottom: 6px;

            .title{
                display: flex;
                justify-content: start;
                align-items: center;
                margin: 0;
                img{
                    width: 40px;
                    height: 40px;
                    border-radius: 100%;
                    margin: 2px 12px 0 0;
                }
                h4{
                    margin: 0;
                    font-size:x-large;
                }
                span{
                    display: flex;
                    align-items: end;
                    color: #6b6868;
                    font-size:small;
                    font-weight: 400;
                    margin: 8px 0 0 5px;
                }
            }
            .event{
                margin: 8px;
                font-weight: 500;
            }

            .subitem1{
                    background: #000000;
                    color: #858484;
                    display: flex;
                    flex-direction: row;
                    position: relative;
                    height: 60px;
                    width: 200px;
                    border-radius: 15px;
                    align-items: center;
                    margin:  4px 0 4px 0 ; 
                    .dateinsidesqure{
                        position: absolute;
                        background: #d5d6ce;
                        display: flex;
                        color: $text-color;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        border-radius: 20%;
                        margin: 0 29px 0 10px ;
                        height: 48px;
                        width: 48px;
                        line-height: 1.1;
                        box-sizing: border-box;

                        .month{
                            font-size: x-small;
                        }
                        .day{
                            font-size: large;
                            font-weight: 700;
                        }

                    }
                    .rightdetail{
                        font-size: medium;
                        position: absolute;
                        justify-content: center;
                        align-items: center;
                        padding: 0;
                        line-height: 0.2;
                        margin-left: 68px;
                        .designtitle{
                            font-weight: 700;
                            color: #d8d3d3;
                        }
                        .desuginclick{
                            font-size: small;
                            color: #616060;
                        }
                    }
            }
            .subitem2{
                    background: #000000;
                    color: #858484;
                    display: flex;
                    flex-direction: row;
                    position: relative;
                    height: 60px;
                    width: 200px;
                    border-radius: 15px;
                    align-items: center;
                    margin:  4px 0 4px 0 ; 
                    .dateinsidesqure{
                        position: absolute;
                        background: #cca4d6;
                        display: flex;
                        color: $text-color;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        border-radius: 20%;
                        margin: 0 29px 0 10px ;
                        height: 48px;
                        width: 48px;
                        line-height: 1.1;
                        box-sizing: border-box;

                        .month{
                            font-size: x-small;
                        }
                        .day{
                            font-size: large;
                            font-weight: 700;
                        }

                    }
                    .rightdetail{
                        font-size: medium;
                        position: absolute;
                        justify-content: center;
                        align-items: center;
                        padding: 0;
                        line-height: 0.2;
                        margin-left: 68px;
                        .designtitle{
                            font-weight: 700;
                            color: #cca4d6;
                        }
                        .desuginclick{
                            font-size: small;
                            color: #616060;
                        }
                    }
            }
        }

    }

}

